<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "about.jpg" %>
  </div>

  <div id="content">
    <h1>Explore Life...</h1>
    <p>Viral skateboard mustache try-hard mlkshk bicycle rights. Whatever hell of crucifix, etsy raclette cornhole mixtape. Beard lumbersexual scenester, green juice gentrify keytar fashion axe everyday carry blue bottle irony pickled synth helvetica trust fund chartreuse. Shabby chic lo-fi scenester, kitsch echo park pok pok dreamcatcher. Butcher cardigan tbh messenger bag af. Squid freegan crucifix vice farm-to-table, bitters everyday carry. Glossier banh mi neutra VHS chartreuse tofu.</p>
  </div>
</div>